html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --header-dark: #2E323F;
  --dark: #3B4050;
  --light: #F1F1F1;
  --gold: #A59678;
  --weak: #FFF;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Redcollar;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
